body {
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    margin: 0;
    padding: 20px;
   
    justify-content: center;
}


input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}
 
.equal-card {
    height: 100%;
}

.equal-card img {
    height: 400px;      
    object-fit: cover;  
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title{
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 25px;
}