body {
    font-family: Arial, sans-serif;
    background: #192331;
    margin: 0;
    padding: 20px;
    color: white;
    justify-content: center;
}


input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}
 
.equal-card {
    height: 100%;
}

.equal-card img {
    height: 400px;      
    object-fit: cover;  
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title{
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 25px;
}

.movie-card {
        display: flex;
        align-items: flex-start;
        gap: 15px;    
    }

    .movie-card img {
        width: 500px;
        height: auto;
        border-radius: 8px;
    }

    .movie-card h1 {
        margin: 0;
    }